<% if resource.errors.any? %>
  <div class="card" style="border-color:#fecaca; background:#fff1f2;">
    <strong><%= pluralize(resource.errors.count, "error") %> prevented saving:</strong>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
